.news{
    --category-color: #299EC3
}

.business {
    --category-color: #EE6151
}

.sport {
    --category-color: #84C14F
}

.life {
    --category-color: #5DCFF3
}

.tech {
    --category-color: #FCC44D
}

.travel {
    --category-color: #A99765
}

.car-yellow {
    --color: #FCC44D;
    --arrow-right: url('~@/assets/arrow-yellow-right.svg');
    --arrow-left: url('~@/assets/arrow-yellow-left.svg');
}

.car-brown {
    --color: #A99765;
    --arrow-right: url('~@/assets/arrow-brown-right.svg');
    --arrow-left: url('~@/assets/arrow-brown-left.svg');
}